.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

#navbar-main li {
    border-bottom: 1px solid #000;
}

#navbar-main li a {
    padding: 0.5rem 1rem;
}

.navbar-logo-text {
    font-size: 1.5rem;
}